# Default ignored files
HomeTasks/
Cpp/
lections/

# for Exchange
SQLdemo/.idea/
SQLdemo/db/
SQLdemo/lib/
SQLdemo/out/
SQLdemo/src/test/
SQLdemo/SQLdemo.iml

# for JavaProj adding only homeworks
JavaPro/.idea/
JavaPro/data/
JavaPro/out/
JavaPro/JavaPro.iml
JavaPro/src/com/KomSoft/lection1/
!JavaPro/src/com/KomSoft/lection1/Homework1.java
JavaPro/src/com/KomSoft/lection2/
!JavaPro/src/com/KomSoft/lection2/TaskArrays.java
!JavaPro/src/com/KomSoft/lection2/TaskFor.java
!JavaPro/src/com/KomSoft/lection2/TaskPuzzle.java
JavaPro/src/com/KomSoft/lection3/
!JavaPro/src/com/KomSoft/lection3/Strings1.java
!JavaPro/src/com/KomSoft/lection3/Strings5.java
JavaPro/src/com/KomSoft/lection4/
!JavaPro/src/com/KomSoft/lection4/Students/
JavaPro/src/com/KomSoft/lection5/
!JavaPro/src/com/KomSoft/lection5/henFactory/
JavaPro/src/com/KomSoft/lection6/
!JavaPro/src/com/KomSoft/lection6/TempConverter/
!JavaPro/src/com/KomSoft/lection6/BaseConverter1.java
JavaPro/src/com/KomSoft/lection7/
!JavaPro/src/com/KomSoft/lection7/Book.java
!JavaPro/src/com/KomSoft/lection7/CheckUser.java
!JavaPro/src/com/KomSoft/lection7/User.java
JavaPro/src/com/KomSoft/lection8/
!JavaPro/src/com/KomSoft/lection8/Account3.java        
!JavaPro/src/com/KomSoft/lection8/Account3Runner.java  
!JavaPro/src/com/KomSoft/lection8/Catalog.java         
!JavaPro/src/com/KomSoft/lection8/Currency.java        
!JavaPro/src/com/KomSoft/lection8/Department.java      
!JavaPro/src/com/KomSoft/lection8/DepartmentRunner.java
!JavaPro/src/com/KomSoft/lection8/Europe.java          
!JavaPro/src/com/KomSoft/lection8/EuropeRunner.java    
!JavaPro/src/com/KomSoft/lection8/Notepad.java         
!JavaPro/src/com/KomSoft/lection8/NotepadRun.java      
!JavaPro/src/com/KomSoft/lection8/Payment.java         
!JavaPro/src/com/KomSoft/lection8/PaymentRun.java      
!JavaPro/src/com/KomSoft/lection8/RecordBook.java      
!JavaPro/src/com/KomSoft/lection8/RecordBookRun.java   
JavaPro/src/com/KomSoft/lection9/
!JavaPro/src/com/KomSoft/lection9/Weekday.java
!JavaPro/src/com/KomSoft/lection9/WeekDayRunner.java
JavaPro/src/com/KomSoft/lection10/
!JavaPro/src/com/KomSoft/lection10/LoginRunner.java            
!JavaPro/src/com/KomSoft/lection10/RegExpTest.java             
!JavaPro/src/com/KomSoft/lection10/WrongLoginException.java    
!JavaPro/src/com/KomSoft/lection10/WrongPasswordException.java 
# All file from JavaPro/src/com/KomSoft/lection11/ are ignored
JavaPro/src/com/KomSoft/lection11/
# All file from JavaPro/src/com/KomSoft/lection12/ don't ignore
#JavaPro/src/com/KomSoft/lection16/
JavaPro/src/com/KomSoft/lection16/DemoReader.java
JavaPro/src/com/KomSoft/lection16/DemoWriter.java
JavaPro/src/com/KomSoft/lection16/FileRunner.java
JavaPro/src/com/KomSoft/lection16/PackDemo.java
JavaPro/src/com/KomSoft/lection16/PackJar.java
JavaPro/src/com/KomSoft/lection16/ReadDemo.java
JavaPro/src/com/KomSoft/lection16/RunnerSerialization.java
JavaPro/src/com/KomSoft/lection16/ScannerDelimiterDemo.java
JavaPro/src/com/KomSoft/lection16/ScannerDemo.java
JavaPro/src/com/KomSoft/lection16/Serializator.java
JavaPro/src/com/KomSoft/lection16/SpacesTest.java
JavaPro/src/com/KomSoft/lection16/Student.java
JavaPro/src/com/KomSoft/lection16/UnpackDemo.java
JavaPro/src/com/KomSoft/lection16/UnPackJar.java
JavaPro/src/com/KomSoft/lection16/WriterRunner.java
