# Default ignored files
lection1/BitLogic.java
lection1/BoolLogic.java
lection1/First.java
lection1/Test.java
lection2/BreakDemo.java
lection2/ContinueDemo.java
lection2/MyArray.java
lection2/Random1.java
lection3/RegExDemo.java
lection3/StringDemo.java
lection4/ClassFieldInitOrder.java
lection4/CoinVolume.java
lection4/Fish.java
lection4/Human.java
lection4/InitializeOrder.java
lection4/Main.java
lection4/Point.java
lection4/Safe.java
lection4/Swim.java
lection4/TestArgs.java
lection4/UBoat.java
lection5/game/
lection5/App1.java
lection5/Main.java
lection5/Room.java
lection5/Room2.java
lection5/SimpleRoom.java
lection5/SimpleRoom2.java
lection6/Box.java
lection6/CarCost.java
lection6/CarTransportationCosts.java
lection6/Cat.java
lection6/ConCalc.java
lection6/Dict.java
lection6/Dictionary.java
lection6/EnglandPrice.java
lection6/MainClass.java
lection6/MainClass2.java
lection6/MainClassD.java
lection6/MyData.java
lection6/java
lection6/Person.java
lection6/SimpleFunInterface.java
lection6/UkrainePrice.java
lection6/UsingPerson.java
lection6/WordTranslator.java
lection7/BasketCat.java
lection7/Car.java
lection7/CarRunner.java
lection7/Cat.java
lection7/CloneTest.java
lection7/Person.java
lection8/Abonent.java
lection8/AbstractTeacher.java
lection8/Account.java
lection8/Accountable.java
lection8/Main.java
lection8/MobileMain.java
lection8/Motor.java
lection8/Programm.java
lection8/RaceShip.java
lection8/Runner.java
lection8/RunnerShip.java
lection8/RunnerWrapperString.java
lection8/Ship.java
lection8/Teacher.java
lection8/TeacherCreator.java
lection8/TeacherLogic.java
lection8/WrapperString.java
lection9/annotation/
lection9/run/
lection9/Base.java
lection9/BaseAction.java
lection9/Main.java
lection9/MelomanRunner.java
lection9/MusicStyle.java
lection9/Shape.java
lection9/ShapeRunner.java
lection9/TaxiRunner.java
lection9/TaxiStation.java
lection10/Coin.java
lection10/CoinException.java
lection10/CoinLogicException.java
lection10/CoinRunner.java
lection10/CoinTechnicalException.java
lection10/Connector.java
lection10/ConnectorRunner.java
lection10/ExceptionRunner.java
lection10/NestedTryCatchRunner.java
lection10/SameResource.java
lection10/TwoExceptionAction.java
lection11/
